{% extends 'dashboard-base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="page-body">
  <div class="container-xl">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Create New Member</h3>
        </div>
        <div class="card-body">
          <form method="POST">
            <div class="form-group mb-3 row">
              <label class="form-label col-3 col-form-label">Name</label>
              <div class="col">
                <input id="name" name="name" type="text" class="form-control" placeholder="Enter Name">
              </div>
            </div>
            <div class="form-group mb-3 row">
              <label class="form-label col-3 col-form-label">Phone number</label>
              <div class="col">
                <input id="phone" name="phone" type="tel" class="form-control" autocomplete="off">
              </div>
            </div>
            <div class="form-group mb-3 row">
              <label class="form-label col-3 col-form-label">Email address</label>
              <div class="col">
                <input id="email" name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                <small class="form-hint">We'll never share your email with anyone else.</small>
              </div>
            </div>
            <div class="form-group mb-3 row">
              <label class="form-label col-3 col-form-label">Date Of Birth</label>
              <div class="col">
                <div class="input-icon">
                  <span class="input-icon-addon"><!-- Download SVG icon from http://tabler-icons.io/i/calendar -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="5" width="16" height="16" rx="2"></rect><line x1="16" y1="3" x2="16" y2="7"></line><line x1="8" y1="3" x2="8" y2="7"></line><line x1="4" y1="11" x2="20" y2="11"></line><line x1="11" y1="15" x2="12" y2="15"></line><line x1="12" y1="15" x2="12" y2="18"></line></svg>
                  </span>
                  <input id="dob" name="dob" class="form-control" placeholder="Select a date" id="datepicker-icon-prepend" value="2020-06-20">
                </div>
              </div>
            </div>
            <div class="form-group mb-3 row">
              <label class="form-label col-3 col-form-label">Gender</label>
              <div class="col">
                <div class="form-selectgroup">
                  <label class="form-selectgroup-item">
                    <input type="radio" id="gender" name="gender" value="m" class="form-selectgroup-input" checked="">
                    <span class="form-selectgroup-label">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-man" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="5" r="2"></circle>
                        <path d="M10 22v-5l-1 -1v-4a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4l-1 1v5"></path>
                     </svg>
                       Male</span>
                  </label>
                  <label class="form-selectgroup-item">
                    <input type="radio" id="gender" name="gender" value="f" class="form-selectgroup-input">
                    <span class="form-selectgroup-label">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-woman" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="5" r="2"></circle>
                        <path d="M10 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4"></path>
                     </svg>
                      Female</span>
                  </label>
                  <label class="form-selectgroup-item">
                    <input type="radio" id="gender" name="gender" value="o" class="form-selectgroup-input">
                    <span class="form-selectgroup-label">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle></svg>
                      Other</span>
                  </label>
                </div>
              </div>
              
            </div>
            <div class="form-group mb-3 row">
              <label class="form-label col-3 col-form-label">Address</label>
              <div class="col">
                <textarea class="form-control" id="address" name="address" rows="6" placeholder="Address.."></textarea>
              </div>
            </div>
            <div class="form-group mb-3 row">
              <label class="form-label col-3 col-form-label">Status</label>
              <div class="col">
                <label class="form-check form-switch">
                  <input id="status" name="status" class="form-check-input" type="checkbox" checked="">
                </label>
              </div>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script>
  // @formatter:off
  document.addEventListener("DOMContentLoaded", function () {
    window.Litepicker && (new Litepicker({
      element: document.getElementById('dob'),
      buttonText: {
        previousMonth: '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>',
        nextMonth: '<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>',
      },
    }));
  });
  // @formatter:on
</script>
<script src="{{ url_for('static', filename='dist/libs/litepicker/dist/litepicker.js')}}"></script>
{% endblock %}