{% extends 'dashboard-base.html' %}

{% block header %}
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
<style>
.barcode {
    font-family: 'Libre Barcode 39';
    font-size: 15px;
    top: 30px;
    right: 10px;
    position: absolute;
}

.container {
  z-index: 1;
  perspective:3000px;
}

.container .book {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
  font-family: acumin-pro, sans-serif;
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
-moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.container .book:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.container .book > div,
.container .front > div {
  display: block;
  position: absolute;
}


.container .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.container .front > div {
  width: 400px;
  height: 550px;
}

.container .left-side{
  width: 40px;
  left: -20px;
  height: 550px;
  background-color: rgba(232,229,234);
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.cover .book-title{
  position: absolute;
  top: 30%;
  left: 45%;
  margin-top: -100px;
  margin-left: -110px;
  width: 300px;
  font-size: 1.5em;
}
.cover .book-lang-code{
  position: absolute;
  bottom: 20%;
  left: 45%;
  margin-top: -100px;
  margin-left: -110px;
}


.cover .num-up{
  position: absolute;
  top: 64px;
  left: 47px;
  letter-spacing: 50px;
  transform: rotate(-90deg);
}

.cover .num-down{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.author{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 475px;
  left: 50px;
  opacity: .8;
  }

  .isbn{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: .8;
  }

.container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.container .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.container h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.cover {
 background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
}


.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.left-side h2 span:last-child{
  font-family: acumin-pro, sans-serif;
} 

</style>
{% endblock %}

{% block content %}
<div class="page-body">
  <div class="container-xl">
    <div class="row sticky-top" style="top: 110px;z-index: 2;">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST">
              <div class="form-group row">
                <div class="col"><input type="text" class="form-control" name="title" placeholder="Title"></div>
                <div class="col"><input type="text" class="form-control" name="authors" placeholder="authors"></div>
                <div class="col"><input type="text" class="form-control" name="isbn" placeholder="isbn"></div>
                <div class="col"><input type="text" class="form-control" name="publisher" placeholder="publisher"></div>
                <div class="col"><input type="text" class="form-control" name="page" placeholder="page"></div>
                <div class="col">
                  <button type="submit" class="btn btn-facebook w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                    Search
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for book in books %}
      <div class="col-sm-6 col-lg-4">
          <div class="container">
            <div class="book">
              <div class="front">
                <div class="cover">
                  <p class="book-title">{{ book.title }}</p>	
                  <p class="book-lang-code">
                    language-code     : {{ book.language_code }}
                    <br>
                    publisher         : {{book.publisher}}
                    <br>
                    publication-date  : {{book.publication_date}}
                    <br>
                    average-rating    : {{book.average_rating}}
                  </p>	
                  <p class=author>{{ book.authors }}</p>
                  <p class=num-down>{{ book["  num_pages"]}} pages</p>
                  
                  <p class=isbn>{{ book.isbn }}</p>
                  <p class=barcode>{{ book.isbn }}</p>
                </div>
              </div>
              <div class="left-side">
                <h2>
                  <span>{{ book.authors }}</span>
                  <span>{{ book.isbn }}</span>
                </h2>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type=text/javascript>
  
  $(function() {
    
  });
  
</script>
{% endblock %}

