{% extends 'dashboard-base.html' %}

{% block header %}
<!-- Ladda Stylesheet -->
<link rel="stylesheet" href="http://lab.hakim.se/ladda/dist/ladda.min.css" />
<!-- Ladda JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/ladda.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/ladda-themeless.min.css" />
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
<style>
.barcode {
    font-family: 'Libre Barcode 39';
    font-size: 15px;
    top: 30px;
    right: 10px;
    position: absolute;
}

.container {
  z-index: 1;
  perspective:3000px;
}

.container .book {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  margin: 5% auto;
  border-radius: 2px 4px 4px 2px;
  background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
  font-family: acumin-pro, sans-serif;
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
-moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
box-shadow: 13px 13px 8px 0px rgba(151, 146, 153,0.6);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
}

.container .book:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  -moz-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.container .book > div,
.container .front > div {
  display: block;
  position: absolute;
}


.container .front {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  -moz-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.container .front > div {
  width: 400px;
  height: 550px;
}

.container .left-side{
  width: 40px;
  left: -20px;
  height: 550px;
  background-color: rgba(232,229,234);
  -webkit-transform: rotate3d(0,1,0,-90deg);
  -moz-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.cover .book-title{
  position: absolute;
  top: 30%;
  left: 45%;
  margin-top: -100px;
  margin-left: -110px;
  width: 300px;
  font-size: 1.5em;
}
.cover .book-lang-code{
  position: absolute;
  bottom: 20%;
  left: 45%;
  margin-top: -100px;
  margin-left: -110px;
}


.cover .num-up{
  position: absolute;
  top: 64px;
  left: 47px;
  letter-spacing: 50px;
  transform: rotate(-90deg);
}

.cover .num-down{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.author{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 475px;
  left: 50px;
  opacity: .8;
  }

  .isbn{
  font-family: acumin-pro, sans-serif;
  font-weight: 400;
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: .8;
  }

.container .front > div {
  border-radius: 0 3px 3px 0;
  box-shadow: 
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.container .front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.container .cover:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}


.container h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.cover {
 background: linear-gradient(45deg,  #DAD5DC 0%, #f2ebf4 100%);
}


.left-side h2 span:first-child {
  font-weight: 400;
  font-size: 13px;
  padding-right: 20px;
}

.left-side h2 span:last-child{
  font-family: acumin-pro, sans-serif;
} 

</style>
{% endblock %}

{% block content %}
<div class="page-body">
  <div class="container-xl">
    <div class="row sticky-top" style="top: 110px;z-index: 2;">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST">
              <div class="form-group row">
                <div class="col"><input type="text" class="form-control" name="title" placeholder="Title"></div>
                <div class="col"><input type="text" class="form-control" name="authors" placeholder="authors"></div>
                <div class="col"><input type="text" class="form-control" name="isbn" placeholder="isbn"></div>
                <div class="col"><input type="text" class="form-control" name="publisher" placeholder="publisher"></div>
                <div class="col"><input type="text" class="form-control" name="page" placeholder="page"></div>
                <div class="col">
                  <button type="submit" class="btn btn-facebook w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="10" cy="10" r="7"></circle><line x1="21" y1="21" x2="15" y2="15"></line></svg>
                    Search
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% for book in books %}
      <div class="col-sm-6 col-lg-4">
          <div class="container" id="book-container" data-bs-toggle="modal" data-bs-target="#modal-team" data-isbn="{{ book.isbn }}">
            <div class="book">
              <div class="front">
                <div class="cover">
                  <p class="book-title">{{ book.title }}</p>	
                  <p class="book-lang-code">
                    language-code     : {{ book.language_code }}
                    <br>
                    publisher         : {{book.publisher}}
                    <br>
                    publication-date  : {{book.publication_date}}
                    <br>
                    average-rating    : {{book.average_rating}}
                  </p>	
                  <p class=author>{{ book.authors }}</p>
                  <p class=num-down>{{ book["  num_pages"]}} pages</p>
                  
                  <p class=isbn>{{ book.isbn }}</p>
                  <p class=barcode>{{ book.isbn }}</p>
                </div>
              </div>
              <div class="left-side">
                <h2>
                  <span>{{ book.authors }}</span>
                  <span>{{ book.isbn }}</span>
                </h2>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal modal-blur fade" id="modal-team" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content" style="border: 1px dotted #2fb344;">
      <div class="modal-header">
        <h5 class="modal-title">Import Book <span id="bookId"></span> </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body">
          <input type="hidden" id="bookIsbn" name="bookIsbn">
          <div class="card" id="bookInfo" >
            <div class="card-body">
              <table class="table table-vcenter card-table">
                <thead>
                  <tr>
                    <th><strong>Stock info</strong></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                      Tittle
                    </td>
                    <td><strong><span id="info-tittle"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                      ISBN
                    </td>
                    <td><strong><span id="info-isbn"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                      ISBN13
                    </td>
                    <td> <strong><span id="info-isbn13"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="3" y="7" width="18" height="13" rx="2"></rect><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path><line x1="12" y1="12" x2="12" y2="12.01"></line><path d="M3 13a20 20 0 0 0 18 0"></path></svg>
                      Author
                    </td>
                    <td> <strong><span id="info-authors"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><polyline points="5 12 3 12 12 3 21 12 19 12"></polyline><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path></svg>
                      Publisher
                    </td>
                    <td><strong><span id="info-publisher"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="11" r="3"></circle><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path></svg>
                      language-code 
                    </td>
                    <td><strong><span id="info-language-code" class="flag flag-country-si"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><rect x="4" y="5" width="16" height="16" rx="2"></rect><line x1="16" y1="3" x2="16" y2="7"></line><line x1="8" y1="3" x2="8" y2="7"></line><line x1="4" y1="11" x2="20" y2="11"></line><line x1="11" y1="15" x2="12" y2="15"></line><line x1="12" y1="15" x2="12" y2="18"></line></svg>
                      Publication date
                    </td>
                    <td><strong><span id="info-publication-date"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><polyline points="12 7 12 12 15 15"></polyline></svg>
                      Average rating
                    </td>
                    <td><strong><span id="info-average-rating"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><polyline points="12 7 12 12 15 15"></polyline></svg>
                      Number of pages
                    </td>
                    <td><strong><span id="info-num-pages"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><polyline points="12 7 12 12 15 15"></polyline></svg>
                      Ratings count
                    </td>
                    <td><strong><span id="info-ratings-count"></span></strong></td>
                  </tr>
                  <tr>
                    <td>
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><polyline points="12 7 12 12 15 15"></polyline></svg>
                      Text reviews count
                    </td>
                    <td><strong><span id="info-text-reviews-count"></span></strong></td>
                  </tr>
                </tbody>
              </table>
              <div style="margin-top:1%;">
                <div class="mb-3">
                  <div class="btn-group w-100">
                    <button type="button" class="btn btn-primary">Stock</button>
                    <button type="button" class="btn">Available :<span id="info-book-count"></span></button>
                    <button type="button" class="btn">Total Issued :<span id="info-book-count"></span></button>
                  </div>
                </div>
              </div>
              
              
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="form-group mb-3 row">
                <label class="form-label col-6 col-form-label">How many Books Do you want to import</label>
                <div class="col">           
                  <input type="number"  id="import-quantity" name="import-quantity" class="form-control" min="0" max="30">
                  <small class="form-hint">Minum 1 and maximum 30 books per-import please mention in quantity</small>
                </div>
                <div class="col">
                  <button id="import-book-btn" class="btn ladda-button" data-color="blue" data-size="sm" data-style="expand-left" >Import</button>
                </div>
             </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save & Close</button>
        </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-success" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-success"></div>
      <div class="modal-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><path d="M9 12l2 2l4 -4"></path></svg>
        <h3>Import succedeed</h3>
        <div class="text-muted">Your Import of <strong><span id="book-imported"></span></strong> has been successfully Imported.</div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            
            <div class="col"><a href="#" class="btn btn-success w-100" data-bs-dismiss="modal">
                Ok
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script type=text/javascript>
  SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function() {
    $('div#book-container').bind('click', function() {
      isbn=$(this).attr("data-isbn");
      fetchBookInfoFromDb(isbn);
      return false;
    });
    $('button#import-book-btn').bind('click', function() {
      isbn=$('#bookIsbn').val();
      numberOfBooks=$('#import-quantity').val();
      importBooksFromServer(isbn,numberOfBooks);
      return false;
    });
  });

function fetchBookInfoFromDb(isbn) {
      $('#bookIsbn').val(isbn);
      $("#bookId").html(" #New");
      $("#bookInfo").addClass("d-none");
      $.getJSON(SCRIPT_ROOT + isbn +'/getBook', function(data) {
        if(data){
          $("#bookInfo").removeClass("d-none");
          $("#bookId").html("<a href='"+SCRIPT_ROOT+data.bookID+"'> #"+data.bookID+"</a>");
          $('#info-tittle').html(data.title);
          $('#info-authors').html(data.authors);
          $('#info-average-rating').html(data.average_rating);
          $('#info-isbn').html(data.isbn);
          $('#info-isbn13').html(data.isbn13);
          $('#info-publication-date').html(data.publication_date);
          $('#info-publisher').html(data.publisher);
          $('#info-book-count').html(data.book_count);
          $('#info-num-pages').html(data.num_pages);
          $('#info-ratings-count').html(data.ratings_count);
          $('#info-text-reviews-count').html(data.text_reviews_count);
        }

        console.log(data);
      });
}

function importBooksFromServer(isbn,numberOfBooks) {
  var l = Ladda.create( document.getElementById( 'import-book-btn' ) );
l.start(); // Start Progress bar

  let url =SCRIPT_ROOT + isbn +'/importBook';
  let dataType;
  var data = { numberOfBooks: numberOfBooks };
  $.ajax({
  type: "POST",
  url: url,
  data: data,
  success: function(result) {
    console.log(result)
    if(result.code==200){
    $('#book-imported').html(numberOfBooks);
    $('#modal-success').modal('show');
    fetchBookInfoFromDb(isbn)
    }else{
      alert("Error, "+result.message);
    }
  },
  dataType: dataType
}).always(
            function() {
              l.stop(); // Stop Progress bar
            }
    );

}
  
  
</script>
{% endblock %}

