{% extends 'dashboard-base.html' %}

{% block header %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.semanticui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>


<!-- Ladda Stylesheet -->
<link rel="stylesheet" href="http://lab.hakim.se/ladda/dist/ladda.min.css" />
<!-- Ladda JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/spin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/ladda.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Ladda/1.0.0/ladda-themeless.min.css" />


<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/1.10.25/css/dataTables.semanticui.min.css" rel="stylesheet"/>
<style>
  tr, th {
    font-size: 1em !important;
}
</style>

{% endblock %}

{% block content %}
<div class="page-body">
  <div class="container-xl">
    <div class="row">
      <div class="col-12">
        
        <table id="example" class="ui celled table" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>book</th>
                    <th>Extra charge</th>
                    <th>Is Returned</th>
                    <th>Issued Date</th>
                    <th>member</th>
                    <th>note</th>
                    <th>Rent/day</th>
                    <th>Return date</th>
                    <th>Total Rent</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>book</th>
                    <th>Extra charge</th>
                    <th>Is Returned</th>
                    <th>Issued Date</th>
                    <th>member</th>
                    <th>note</th>
                    <th>Rent/day</th>
                    <th>Return date</th>
                    <th>Total Rent</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
        
      </div>
    </div>
  </div>
</div>
<div class="modal modal-blur fade" id="modal-return-book" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Return Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" id="issueId" name="issueId">
          <input type="hidden" id="issuedReturnDate" name="issuedReturnDate">
            <div class="card" id="bookInfo" >
              <div class="card-body">
                <table class="table table-vcenter card-table">
                  <thead>
                    <tr>
                      <th><strong>Issue info</strong>#<span id="issueid"></span></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td><svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                          Member
                        </td>
                        <td><strong><span id="member"></span></strong></td>
                    </tr>
                    <tr>
                      <td><svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                        Tittle
                      </td>
                      <td><strong><span id="issue-tittle"></span></strong></td>
                    </tr>
                    <tr>
                      <td>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                        ISBN
                      </td>
                      <td><strong><span id="issue-isbn"></span></strong></td>
                    </tr>
                    <tr>
                      <td>
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                        Rent/Day
                      </td>
                      <td>
                        <div class="col">
                        <div class="input-group">
                          <span class="input-group-text">
                            $
                          </span>
                          <input readonly name="issue-day-rent" id="issue-day-rent" type="text" class="form-control" placeholder="rent" autocomplete="off">
                        </div>
                      </div>
                    </td>
                    </tr>
                    <tr>
                        <td><svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                          Issued Date
                        </td>
                        <td><strong><span id="issued-date"></span></strong></td>
                    </tr>
                    <tr>
                        <td><svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                          Expected Return Date
                        </td>
                        <td><strong><span id="issued-return-date"></span></strong></td>
                    </tr>
                    <tr>
                        <td>
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"></path><line x1="3" y1="6" x2="3" y2="19"></line><line x1="12" y1="6" x2="12" y2="19"></line><line x1="21" y1="6" x2="21" y2="19"></line></svg>
                          Total Rent
                        </td>
                        <td>
                          <div class="col">
                          <div class="input-group">
                            <span class="input-group-text">
                              $
                            </span>
                            <input readonly name="issue-total-rent" id="issue-total-rent" type="text" class="form-control" placeholder="rent"  autocomplete="off">
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                
              </div>
            </div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Returning date</label>
                <input type="date" class="form-control" name="returnDate" id="returnDate">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-3">
                <label class="form-label">Extra charge</label>
                <div class="input-group">
                    <span class="input-group-text">
                      $
                    </span>
                    <input name="extra-charge" id="extra-charge" type="text" class="form-control" placeholder="rent" value="0" autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div>
                <label class="form-label">Additional information</label>
                <textarea class="form-control" rows="3" id="note" name="note" >payment completed</textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
            Cancel
          </a>
          <button id="return-book-btn" class="btn ladda-button" data-color="blue" data-size="sm" data-style="expand-left" >Return</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal modal-blur fade" id="success-book-return" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-success"></div>
        <div class="modal-body text-center py-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="12" r="9"></circle><path d="M9 12l2 2l4 -4"></path></svg>
          <h3>Success Fully Returned</h3>
          <div class="text-muted"> <strong><span id="book-name"></span></strong> has been successfully Returned by <strong><span id="member-name"></span></strong>.</div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              
              <div class="col"><a href="#" class="btn btn-success w-100" data-bs-dismiss="modal">
                  Ok
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block scripts %}
<script type=text/javascript>
  
  SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


  $(document).ready(function() {
 
  var table = $('#example').DataTable( {
    columnDefs: [{
       targets: 10,
       render: function(data, type, full, meta){
          if(type === 'display'){
            id="'"+data+"'";
            link = data+"/invoice";
             data =  '<div class="btn-list flex-nowrap">' +
                 '<button class="btn issueBook" onClick="bookRetuenForm('+id+')" >Return</button> ' +
                 '<a target="_blank" class="btn" href="'+link+'" >Invoice</a> ' +
                 '</div>';                     
          }

          return data;
       }
    },
    {
       targets: 3,
       render: function(data, type, full, meta){
          if(type === 'display'){
            if(data)
              data =  '<span class="badge bg-success me-1"></span>Yes';  
            else
              data =  '<span class="badge bg-warning me-1"></span>Pending';                 
          }

          return data;
       }
    }],
        scrollY:        true,
        scrollX:        true,
        "ajax":{
          'url':  SCRIPT_ROOT  +'getIssueDatas',
          'method': "GET",
        },
        "columns": [
            { "data": "issueId" },
            { "data": "title" },
            { "data": "extra_charge" },
            { "data": "is_returned" },
            { "data": "issued_date" },
            { "data": "name" },
            { "data": "note" },
            { "data": "rent_day" },
            { "data": "return_date" },
            { "data": "total_rent" },
            { "data": "issueId" }
        ]
    } );
    
  });


function bookRetuenForm(id) {
  setBookReturnInfoFromDb(id);
}

function setBookReturnInfoFromDb(id) {
      $('#issueId').val(id);
      $.getJSON(SCRIPT_ROOT + id +'/getIssueDatasById', function(data) {
        if(data){
          $('#issueId').val(data.issueId);
          $("#issueid").html("<a href='"+SCRIPT_ROOT+data.id+"'> #"+data.issueId+"</a>");
          $('#issue-isbn').html(data.isbn)
          $('#issue-tittle').html(data.title);
          $('#member').html(data.name);
          $('#issued-date').html(data.issued_date);
          $('#issued-return-date').html(data.return_date);
          $('#issuedReturnDate').val(data.return_date);
          $('#issue-day-rent').val(data.rent_day)
          $('#issue-total-rent').val(data.total_rent)
          $('#modal-return-book').modal('show');
        }else{
            alert("allredy returned")
        }
        console.log(data);
      });
}

$('#returnDate').change(function() {
    var returnDate = $(this).val();
    dayRent=$('#issue-day-rent').val();
    expectedReturn=$('#issuedReturnDate').val();
    const start = new Date(expectedReturn);
    const end = new Date(returnDate);
      diff  = new Date(end - start),
      days  = Math.ceil(diff/1000/60/60/24);

      if(days<=0){
        alert("Invalid Return Date, atleast grater actual return date")
        return false;
      }

      totalRent=days*dayRent;
      extraCharge=$('#extra-charge').val(totalRent);
      
});

$('button#return-book-btn').bind('click', function() {
      issueID=$('#issueId').val();
      extraCharge=$('#extra-charge').val();
      returnDate=$('#returnDate').val();
      note=$('#note').val();
      

      returnBooks(issueID,extraCharge,returnDate,note);
      return false;
    });

    function returnBooks(issueID,extraCharge,returnDate,note) {
  var l = Ladda.create( document.getElementById( 'return-book-btn' ) );
l.start(); // Start Progress bar

  let url =SCRIPT_ROOT +'return';
  let dataType;
  var data = { issueID: issueID, extraCharge :extraCharge, returnDate:returnDate ,note:note};
  $.ajax({
  type: "POST",
  url: url,
  data: data,
  success: function(result) {
    console.log(result)
    if(result.code==200){
    $('#book-name').html(result.book);
    $('#member-name').html(result.member);
    $('#modal-return-book').modal('hide');
    $('#success-book-return').modal('show');
    table.ajax.reload();
    }else{
      alert(result.message,'Error!')
    }
  },
  dataType: dataType
}).always(
            function() {
              l.stop(); // Stop Progress bar
            }
    );

}
 
  
</script>


{% endblock %}
