{% extends 'dashboard-base.html' %}

{% block header %}
{% endblock %}
{% block pageTitle %}
Member
{% endblock %}
{% block pageTitleBtn %}
<div class="col-auto ms-auto">
  <a href="{{ url_for('member.create') }}" class="btn btn-outline-primary active w-100">
    + Add new Member
  </a>
</div>
{% endblock %}


{% block content %}
<div class="page-body">
  {% if members_list %}
  <div class="container-xl">
    <div class="row row-cards">
    {% for member in members_list %}
    
      <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body p-4 text-center">
          <span class="avatar avatar-xl mb-3 avatar-rounded">JL</span>
          <h3 class="m-0 mb-1"><a href="#">{{ member['name'] }}</a></h3>
          <div class="text-muted">{{ member['created_at'] }}</div>
          <div class="mt-3">
            {% if member['status'] %}
            <span class="badge bg-green-lt">Active</span>
            {% else %}
            <span class="badge bg-red-lt">Inactive</span>
            {% endif %}
          </div>
        </div>
        <div class="d-flex">
          <a href="mailto:{{ member['email'] }}" class="card-btn"><!-- Download SVG icon from http://tabler-icons.io/i/mail -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg>
            Email</a>
          <a href="tel:{{ member['phone'] }}" class="card-btn"><!-- Download SVG icon from http://tabler-icons.io/i/phone -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2 text-muted" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg>
            Call</a>
        </div>
      </div>
      </div> 
      
    {% if not loop.last %}
      
    {% endif %}
  {% endfor %}
    </div>
    <div class="d-flex mt-4">
      <ul class="pagination ms-auto">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-left -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="15 6 9 12 15 18" /></svg>
            prev
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
          <a class="page-link" href="#">
            next <!-- Download SVG icon from http://tabler-icons.io/i/chevron-right -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="9 6 15 12 9 18" /></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% else %}
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-6" style="text-align: center;">
            <p>No members found</p>
          </div>
          <div class="col-6">
            <a href="{{ url_for('member.create') }}" class="btn btn-outline-primary active w-100">
              + Add new Member
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endif %}
</div>
{% endblock %}
