
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{% block title %}{% endblock %} - Sign-in</title>
    <!-- CSS files -->
    <link href="{{ url_for('static', filename='dist/css/tabler.min.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='dist/css/tabler-flags.min.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='dist/css/tabler-payments.min.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='dist/css/tabler-vendors.min.css')}}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='dist/css/demo.min.css')}}" rel="stylesheet"/>
    {% block header %}{% endblock %}
  </head>

<body class="antialiased border-top-wide border-primary d-flex flex-column">
  {% block content %}{% endblock %}
  <script src="{{ url_for('static', filename='dist/js/tabler.min.js')}}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
